<!DOCTYPE HTML>

<!--
    Team OKzoomers -- Saad Bhuiyan, Matthew Chan, Hannah Fried (PM), Jacob Olin
    SoftDev1 pd2
    P01 -- ArRESTed Development
    2019-11-18
-->

<!-- Base for P01 HTML files -->

<html lang="en">
    <head>
        
        <meta charset="utf-8">
        <!-- Responsive viewport for all devices -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	 <!-- Bootstrap CDN, jQuery Library, Popper JS, and Javascript -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        
        {% block header %}
            <title>
                WHATGOESHERE - {% block title %}Title{% endblock %}
            </title>
        {% endblock %}
    
    </head>
    <body>

        {% block content %}
            Content
        {% endblock %}

        <footer>
            Footer
        </footer>

    </body>
</html>