<!--
    Matthew Chan (PM), Hannah Fried, Coby Sontag, Jionghao Wu [Team SOS]
    SoftDev1 pd2
    P00 -- Da Art of Storytellin'
    2019-10-28
-->
<!-- Browse Page utilizing base.html Jinja blocks: displays stories not yet contributed to -->

{% extends "base.html" %}

{% block title %}
Browse
{% endblock %}

{% block pageTitle %}
    Browse Stories
{% endblock %}

{% block content %}
<form action = "/home", method = "GET">
		<input type = "submit" name = "sub1" value = "Home">
</form>
<br>
<form action = "/login", method = "GET">
		<input type = "submit" name = "sub2" value = "Logout">
</form>
<br><br><br>

<H2>
    Stories To Contribute To:
</H2>
<form action = "/contribute", method = "GET">
    {% for titles in stories %}
    <li>
        <input type = "submit" name="subCoby" value = "{{titles}}">
        <br>
    </li>
    {% endfor %}
</form>

{% endblock %}
