<!--
    Matthew Chan (PM), Hannah Fried, Coby Sontag, Jionghao Wu [Team SOS]
    SoftDev1 pd2
    P00 -- Da Art of Storytellin'
    2019-10-28
-->
<!-- Contribute Page utilizing base.html Jinja blocks: allows users to add to stories -->

{% extends "base.html" %}

{% block title %}
    Contribute
{% endblock %}

{% block pageTitle %}
    {{title}}
{% endblock %}

{% block content %}
<H2>
    Latest update: "{{latest}}"
</H2>
<br>

<form action = "/contribute/add", method = "POST">
    <H2>
        Content:
    </H2>
    <input type="hidden" name="title" value="{{title}}">
    <textarea rows="10" cols="50" maxlength = "300" name = "text"></textarea><br>
    Text Limit: 300 characters<br>
    <input type = "submit" name = "sub1" value = "Submit"><br>
</form>
<br>
<form action ="/browse">
    <input type = "submit" name = "sub2" value = "Cancel"><br>
</form>

{% endblock %}
