<!--
    Matthew Chan (PM), Hannah Fried, Coby Sontag, Jionghao Wu [Team SOS]
    SoftDev1 pd2
    P00 -- Da Art of Storytellin'
    2019-10-28
-->
<!-- Create Story Page utilizing base.html Jinja blocks: allows users to create a story -->

{% extends "base.html" %}

{% block title %}
Creating New Story
{% endblock %}

{% block pageTitle %}
    Create a New Story
{% endblock %}

{% block content %}
<H3>
{% set msgs = get_flashed_messages() %}
{% for msg in msgs %}
<i>
    Error: {{ msg }}
</i>
{% endfor %}
</H3>

<form action = "/create/authenticate", method = "POST">
    <H2>
        Title of story:
    </H2>
    <textarea rows="1" cols="50" name="title"></textarea> <br>
    <H2>
        Content:
    </H2>
    <textarea rows="20" cols="50" name ="text"></textarea><br>
    <input type = "submit" name = "sub" value = "Submit">
</form>
<br>
<form action = "/home", method = "GET">
    <input type = "submit" name = "cancel" value = "Cancel">
</form>

{% endblock %}
