<!--
    Team OKzoomers -- Saad Bhuiyan, Matthew Chan, Hannah Fried (PM), Jacob Olin
    SoftDev1 pd2
    P01 -- ArRESTed Development
    2019-11-18
-->

<!-- Home page -->

{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <br>
    <div class="jumbotron text-center" style="background-color:#C20953;">
        <h3 class="display-3">Welcome to Sportsball Trading Cards!</h3>
        <h4 class="display-4">Presented by Team OKZoomers</h4>
    </div>
    <br>
    <div class="jumbotron text-center" style="background-color:#F4ABAA;">
        <h3><a href="{{url_for("trivia")}}" style="color: #000000;">Trivia</a></h3>
        <h5>To earn new cards you have to play our trivia game. You will be given 10 random trivia questions about a variety of different sports. If you answer at least 5 of those questions correctly, you will receive the same number of reward cards.</h5>
        <h5>The reward card can be of any basketball player. Cards have the player's picture, their name, their average points per game, as well a rarity assigned to it.</h5>
        <br>
        <h3><a href="{{url_for("inventory")}}"  style="color: #000000;">Inventory</a></h3>
        <h5>Once you win some cards, you're probably going to want to see them. When you win cards on this website, they are automatically added to your inventory. When you open up your inventory all of your cards in all its glory will show up so you can flex on your friends.</h5>
        <br><br>
        <h3>That's all you need to know to start playing!</h3>
    </div>
{% endblock %}
