<!--
    Team OKzoomers -- Saad Bhuiyan, Matthew Chan, Hannah Fried (PM), Jacob Olin
    SoftDev1 pd2
    P01 -- ArRESTed Development
    2019-11-18
-->

<!-- Home page -->

{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
  <br>
  <div class="jumbotron text-center" style="background-color:#3895D3;">
      <h3 class="display-3"> Information about our app.</h3>
  </div>
    On this website, you can collect trading cards of all of your favorite basketball players.
    <br><br>
    <h3>Trivia:</h3>
    To earn new cards first go to the trivia page.
    <br>
    Once on the trivia page, you will be prompted with 10 multiple choice trivia questions about sports.
    <br>If you correctly answer seven or more trivia questions correctly,
    you will be rewarded with three new player cards.
    <br><br>
    <h3>Collecting cards:</h3>
    If you answer enough trivia questions, you will be rewarded with cards.
    <br>The cards generated will be random.
    <br>Once you earn cards, you can view all of
    the cards you've ever earned under the inventory tab.

{% endblock %}
