<!--
    Team OKzoomers -- Saad Bhuiyan, Matthew Chan, Hannah Fried (PM), Jacob Olin
    SoftDev1 pd2
    P01 -- ArRESTed Development
    2019-11-18
-->

<!-- Login page -->

{% extends "base.html" %}

{% block title %}
    Inventory
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="jumbotron text-center" style="background-color:#3895D3;">
        <h3 class="display-3">Your Cards</h3>
    </div>
    <div class="row pb-3">
        {% for card in inventory %}
        <div class="col-md-4">
            <div class="card">
                <img src={{card['image']}} class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title">{{card['first_name']}} {{card['last_name']}}</h3>
                    <p class="card-text">
                        Team: {{card['team']}} <br>
                        Average Points: {{card['avg_pts']}}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
