<!--
    Team OKzoomers -- Saad Bhuiyan, Matthew Chan, Hannah Fried (PM), Jacob Olin
    SoftDev1 pd2
    P01 -- ArRESTed Development
    2019-11-18
-->

<!-- Login page -->

{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %} 
    <br>
    <h3> Hey there! Looks like you're not logged in... Log in to get back to playing. </h3>
    <br>
    <div class="jumbotron">
        <form action="/login">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="text" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form> 
        <br>
        <br>
        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                {{ message }} <br><br>
            {% endfor %}
        {% endwith %}
    </div>
    <br>
    <form action = "/register">
        <label for="submit"><h5>Don't have an account? Click here to register.</h5></label>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
