<!--
    Team OKzoomers -- Saad Bhuiyan, Matthew Chan, Hannah Fried (PM), Jacob Olin
    SoftDev1 pd2
    P01 -- ArRESTed Development
    2019-11-18
-->

<!-- Register page -->

{% extends "base.html" %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <br>
    <h3>Don't have an account with us? Make one now to start playing!</h3>
    <br>
     <div class="jumbotron">
        <form action="/register">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
                <label for="password1">Password:</label>
                <input type="text" class="form-control" name="password1">
            </div>
            <div class="form-group">
                <label for="password2">Password Again:</label>
                <input type="text" class="form-control" name="password2">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form> 
        <br>
        <br>
        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                {{ message }} <br><br>
            {% endfor %}
        {% endwith %}
    </div>
    <br>
    <form action="/login">
        <label for="submit"><h5>Didn't mean that? Go back to the login page.</h5></label>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
{% endblock %}
