<!--
    Team OKzoomers
    Saad Bhuiyan, Matthew Chan, Hannah Fried (PM), Jacob Olin
    SoftDev1 pd2
    P01 -- ArRESTed Development
    2019-11-18
-->

<!-- Register page -->

{% extends "base.html" %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <form action = "/register/authenticate", method = "POST">
        Username:
        <input type="text" name="username"> <br>
        Password:
        <input type="text" name="password"> <br>
        Repeat Password:
        <input type="text" name="repeat password"> <br>
        <input type="submit" name="submit" value="Register"> <br>
    </form>
    <br>
    <form action="/login", method = "GET">
        <input type="submit" name="submit" value="Cancel" >
    </form>
{% endblock %}
