<!--
    Team OKzoomers -- Saad Bhuiyan, Matthew Chan, Hannah Fried (PM), Jacob Olin
    SoftDev1 pd2
    P01 -- ArRESTed Development
    2019-11-18
-->

<!-- Rewards page -->

{% extends "base.html" %}

{% block title %}
    Rewards
{% endblock %}

{% block content %}
    <br>
    {% if numCorrect > 6 %}
        <div class="jumbotron text-center" style="background-color:#3895D3;">
            <h3 class="display-3">Well done! You answered {{numCorrect}} questions correctly.</h3>
            <h4 class="display-4">Congratulations you received 3 reward cards!</h4>
        </div>
    {% else %}
        <div class="jumbotron text-center" style="background-color:#3895D3;">
            <h3 class="display-3">Better luck next time. You only answered {{numCorrect}} questions correctly.</h3>
        </div>
    {% endif %}
{% endblock %}
