<!--
    Team OKzoomers -- Saad Bhuiyan, Matthew Chan, Hannah Fried (PM), Jacob Olin
    SoftDev1 pd2
    P01 -- ArRESTed Development
    2019-11-18
-->

<!-- Trivia page -->

{% extends "base.html" %}

{% block title %}
    Trivia
{% endblock %}

{% block content %}
    <br>
    <div class="jumbotron text-center" style="background-color:#3895D3;">
        <h3 class="display-3"> How well do you know your sports? </h3>
        <h5 class="display-5"> Correctly answer 7 or more questions to receive a reward.</h5>
    </div>
    <form action="/rewards" method="POST">
        <ol>
            {% for question in questionSets %}
                <li>{{question[0]|safe}}</li>
                <select name="choices" class="custom-select">
                    <option selected>Pick an answer choice.</option>
                    <option value="correct">{{question[1]|safe}}</option>
                    <option value="incorrect">{{question[2]|safe}}</option>
                    <option value="incorrect">{{question[3]|safe}}</option>
                    <option value="incorrect">{{question[4]|safe}}</option>
                </select>
                <br>
                <br>
            {% endfor %}
        </ol>
        <button type="submit" class="btn btn-primary">Check Answers</button>
    </form>
{% endblock %}
